<a href="https://colab.research.google.com/github/RobDeutsche/RobDeutsche/blob/main/Copy_of_Iris_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os 
import pandas as pd
import urllib.request
import matplotlib.pyplot as plt

#Check current dirctory and create new directory Iris_Data
cwd = os.getcwd()
print("Current Working Directory: %s" % cwd)
path = os.path.join(cwd,"Iris_Data")
if not os.path.isdir(path):
    os.mkdir(path)
    print("Newly created directory to store files: %s" % path)

# Provide the file path for the download. File path includes both the folder path and the file name
full_path = os.path.join(path,"iris.data")

urllib.request.urlretrieve("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", full_path)

Current Working Directory: /content
Newly created directory to store files: /content/Iris_Data

('/content/Iris_Data/iris.data', <http.client.HTTPMessage at 0x7f967c13a510>)

In [ ]:
#Dataframe = rows/columns in memory
#To access a column = dataframe['column']
#To access a row = dataframe.iloc[index]

In [9]:
#Reading CSV From directory I created and assigning to DF
df = pd.read_csv('/content/Iris_Data/iris.data')
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [14]:
#Assign values for columns + merge into dataframe
names = ['sepal length','sepal width','petal length','petal width', 'class']
print(names)
df.columns = names
df.head(10)

['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

   sepal length  sepal width  petal length  petal width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa
8           4.9          3.1           1.5          0.1  Iris-setosa
9           5.4          3.7           1.5          0.2  Iris-setosa

In [15]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  149 non-null    float64
 1   sepal width   149 non-null    float64
 2   petal length  149 non-null    float64
 3   petal width   149 non-null    float64
 4   class         149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB